# Сборный проект-2

## Описание проекта

Мы работаем в стартапе, который продает продукты питания.

## Описание данных

Каждая запись в логе — это действие пользователя, или событие. 
- EventName — название события;
- DeviceIDHash — уникальный идентификатор пользователя;
- EventTimestamp — время события;
- ExpId — номер эксперимента: 246 и 247 — контрольные группы, а 248 — экспериментальная.

### Цель проекта

Понять как пользоваетли ведут себя нашего мобильного приложения.

### План работы

#### 1. Изучить данные 
#### 2. Предобработка данных
#### 3. Изучить воронку событий
#### 4. Изучить результаты эксперемнта

### 1. Изучаем данные

Импортируем библиотеки

In [1]:
import pandas as pd

Читаем таблицу

In [4]:
logs = pd.read_csv('datasets/logs_exp.csv', sep = '\t')

Выводим первые пять строк таблицы

In [5]:
logs.head(5)

                 EventName         DeviceIDHash  EventTimestamp  ExpId
0         MainScreenAppear  4575588528974610257      1564029816    246
1         MainScreenAppear  7416695313311560658      1564053102    246
2  PaymentScreenSuccessful  3518123091307005509      1564054127    248
3         CartScreenAppear  3518123091307005509      1564054127    248
4  PaymentScreenSuccessful  6217807653094995999      1564055322    248

Смотрим информацию о таблице

In [6]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244126 entries, 0 to 244125
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   EventName       244126 non-null  object
 1   DeviceIDHash    244126 non-null  int64
 2   EventTimestamp  244126 non-null  int64
 3   ExpId           244126 non-null  int64
dtypes: int64(3), object(1)
memory usage: 7.5+ MB

### 2. Предобработка данных