# Сборный проект-2

## Описание проекта

Мы работаем в стартапе, который продает продукты питания.

## Описание данных

Каждая запись в логе — это действие пользователя, или событие. 
- EventName — название события;
- DeviceIDHash — уникальный идентификатор пользователя;
- EventTimestamp — время события;
- ExpId — номер эксперимента: 246 и 247 — контрольные группы, а 248 — экспериментальная.

### Цель проекта

Понять как пользоваетли ведут себя нашего мобильного приложения.

### План работы

#### 1. Изучить данные 
#### 2. Предобработка данных
#### 3. Изучить воронку событий
#### 4. Изучить результаты эксперемнта

### 1. Изучаем данные

Импортируем библиотеки

In [1]:
import pandas as pd

Читаем таблицу

In [2]:
logs = pd.read_csv('datasets\logs_exp.csv', sep = '\t')

Выводим первые пять строк таблицы

In [3]:
logs.head(5)

                 EventName         DeviceIDHash  EventTimestamp  ExpId
0         MainScreenAppear  4575588528974610257      1564029816    246
1         MainScreenAppear  7416695313311560658      1564053102    246
2  PaymentScreenSuccessful  3518123091307005509      1564054127    248
3         CartScreenAppear  3518123091307005509      1564054127    248
4  PaymentScreenSuccessful  6217807653094995999      1564055322    248

Смотрим информацию о таблице

In [4]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244126 entries, 0 to 244125
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   EventName       244126 non-null  object
 1   DeviceIDHash    244126 non-null  int64
 2   EventTimestamp  244126 non-null  int64
 3   ExpId           244126 non-null  int64
dtypes: int64(3), object(1)
memory usage: 7.5+ MB

### 2. Предобработка данных

Меняем названия столбцов

In [5]:
logs = logs.rename(columns = {'EventName':'event', 'DeviceIDHash':'device_id', 'EventTimestamp': 'event_time', 'ExpId': 'exp_id'})

In [6]:
logs

                          event            device_id  event_time  exp_id
0              MainScreenAppear  4575588528974610257  1564029816     246
1              MainScreenAppear  7416695313311560658  1564053102     246
2       PaymentScreenSuccessful  3518123091307005509  1564054127     248
3              CartScreenAppear  3518123091307005509  1564054127     248
4       PaymentScreenSuccessful  6217807653094995999  1564055322     248
...                         ...                  ...         ...     ...
244121         MainScreenAppear  4599628364049201812  1565212345     247
244122         MainScreenAppear  5849806612437486590  1565212439     246
244123         MainScreenAppear  5746969938801999050  1565212483     246
244124         MainScreenAppear  5746969938801999050  1565212498     246
244125       OffersScreenAppear  5746969938801999050  1565212517     246

[244126 rows x 4 columns]

Проверяем пропуски

In [7]:
logs.isna().sum()

event         0
device_id     0
event_time    0
exp_id        0
dtype: int64

Пропусков нет

Проверим дубликаты

In [8]:
logs.duplicated().sum()

413

Дубликаты есть, но из очень мало отностительно размера таблицы. Удаляем их

In [9]:
logs = logs.drop_duplicates()

Добавляем меняем тип данных столбца event_time и добовляем столбец date с датой события

In [12]:
logs['event_time'] = pd.to_datetime(logs['event_time'], unit = 's')
logs['date'] = logs['event_time'].dt.date

C:\Users\dan25\AppData\Local\Temp\ipykernel_9316\1022350964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  logs['event_time'] = pd.to_datetime(logs['event_time'], unit = 's')
C:\Users\dan25\AppData\Local\Temp\ipykernel_9316\1022350964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  logs['date'] = logs['event_time'].dt.date

### 3. Изучение и проверка данных